.reminders-container-top {
  margin-top: 2rem;
  width: 100%;
  max-width: 500px;
}
.reminders-container {
  border-style: solid;
  border-width: 1px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-color: #d3d3d3;
  list-style: disc;
}
