.new-reminder-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 500px;
}

.fields-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fields-container > * + * {
  margin-left: 0.5rem;
}

.new-reminder-root > * + * {
  margin-left: 1rem;
}

.input-field-reminder{
  height: 1.5rem;
  max-width: 250px;
  padding: 0.3rem;
  min-width: 120px;
  width: 45%;
}

.button-add-reminder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 0.7em;
  font-weight: 600;
  flex-grow: 1;
  background-image: linear-gradient(315deg, #5AFF15 0%, #00B712 74%);
}
